<template name="vms">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <table class="vms table table-striped">
        <thead>
          <tr>
            <th>State</th>
            <th>Name</th>
            <th>Deployment</th>
            <th>Agent Id</th>
            <th>CID</th>
            <th>IP</th>
            <th>Resource Pool</th>
            <th>CPU %</th>
            <th>Memory %</th>
            <th>Persistent Disk %</th>
          </tr>
        </thead>
        <tbody>
          {{#each vms}}
            <tr>
              <td class="{{ job_state_class }}">{{ job_state }}</td>
              <td>{{ job_name }}</td>
              <td>{{ deployment_id }}</td>
              <td>{{ _id }}</td>
              <td>{{ vm_cid }}</td>
              <td><a href="http://{{ ip }}">{{ ip }}</a></td>
              <td>{{ resource_pool }}</td>
              <td>{{ cpu }}</td>
              <td>{{ mem }}</td>
              <td>{{ disk }}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
